@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800);

* {
   margin: 0;
   font-family: "Nunito Sans", sans-serif;
}
:root {
   --clr-elements: hsl(209, 23%, 22%);
   --clr-background: hsl(207, 26%, 17%);
   --clr-elements-and-text: hsl(0, 0%, 100%);
   --clr-detail-text: rgba(0, 0, 0, 0.7);
}
.flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
body {
   background-color: var(--clr-background);
}
.main-ctr {
   width: 90%;
   max-width: 1200px;
   margin: 0 auto;
}
header {
   padding: 1.3rem 0;
}
header, .inp-ctr input, .filter-region button, .options, .cards {
   background-color: var(--clr-elements);
}
h1, header button, .inp-ctr *, .filter-region *, .details {
   color: var(--clr-elements-and-text);
}
h1 {
   font-size: 1.4rem;
}
header i {
   margin-right: 5px;
}
header button {
   background-color: transparent;
   border: none;
   font-weight: 600;
   font-size: 1rem;
}
header button:hover {
   cursor: pointer;
   opacity: .8;
}
.main-hdr {
   padding: 2rem 0;
}
.inp-ctr input, .filter-region button, .options {
   border-radius: 5px;
}
.inp-ctr, .filter-region {
   position: relative;
   width: 50%;
   max-width: 25rem;
}
.inp-ctr input, .filter-region button, .filter-region i {
   font-size: 13px;
}
.inp-ctr input {
   box-sizing: border-box;
   padding-left: 2.6rem;
   border: none;
   height: 2.4rem;
   width: 100%;
}
.inp-ctr i, .filter-region i, .options {
   position: absolute;
}
.inp-ctr i {
   left: 1rem;
   top: 12px;
}
.filter-region {
   height: 2.4rem;
   width: 10rem;
}
.filter-region button {
   box-sizing: border-box;
   border: none;
   width: 100%;
   height: 100%;
   text-align: left;
   padding-left: 12px;
   letter-spacing: 1px;
}
.filter-region i {
   right: 10px;
   top: 13px;
}
.options {
   opacity: 0;
   pointer-events: none;
   box-sizing: border-box;
   top: 2.6rem;
   width: 100%;
   padding: 8px 0;
}
.filter-region option {
   padding: 5px 12px;
}
.filter-region:hover, .filter-region button:hover {
   cursor: pointer;
}
.options-visible {
   opacity: 1;
   pointer-events: initial;
}
.filter-region option:hover {
   background-color: var(--clr-d-mode-background);
}
.notification{
   text-align: center;
   color: #fff;
}
.loader {
   border: 4px solid #f3f3f3;
   border-top: 4px solid var(--clr-d-mode-background);
   border-radius: 50%;
   width: 25px;
   height: 25px;
   animation: spin 1.3s linear infinite;
   margin: 3rem auto 2rem;
 }
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

.main-content {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 4vw;
   margin-bottom: 2rem;
}
.card {
   width: 250px;
   border-radius: 5px;
   overflow: hidden;
}
.card:hover {
   cursor: pointer;
   opacity: .9;
}
.flag img {
   width: 100%;
   display: block;
}
.details {
   padding: 1.3rem 1.2rem;
}
.details h2 {
   font-size: 1rem;
   font-weight: 600;
}
.general-details {
   margin: 1rem 0;
}
.general-details p {
   font-weight: 600;
   margin-bottom: .4rem;
}
.general-details span {
   margin-left: 4px;
   font-weight: 300;
   color: var(--clr-detail-text);
}