@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800);

* {
   margin: 0;
   font-family: "Nunito Sans", sans-serif;
}
:root {
   --clr-elements: hsl(209, 23%, 22%);
   --clr-background: hsl(207, 26%, 17%);
   --clr-elements-and-text: hsl(0, 0%, 100%);
   --clr-detail-text: rgba(255, 255, 255, 0.8);
}
.flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
body {
   background-color: var(--clr-background);
   transition: 300ms;
}
.main-ctr {
   width: 90%;
   max-width: 1200px;
   margin: 0 auto;
}
header {
   padding: 1.3rem 0;
}
header, .inp-ctr input, .filter-region *, .card {
   background-color: var(--clr-elements);
   transition: 300ms;
}
h1, header button, .inp-ctr *, .filter-region *, .details {
   color: var(--clr-elements-and-text);
}
h1 {
   font-size: 1.4rem;
}
header i {
   margin-right: 5px;
}
header button {
   background-color: transparent;
   border: none;
   font-weight: 600;
   font-size: 1rem;

}
header button:hover {
   cursor: pointer;
   opacity: .8;
}
.main-hdr {
   padding: 2rem 0;
}
.inp-ctr input, .filter-region, .filter-region * {
   border-radius: 5px;
}
.inp-ctr, .filter-region {
   position: relative;
   width: 50%;
   max-width: 25rem;
}
.inp-ctr input, .filter-region button, .filter-region i {
   font-size: 13px;
}
.inp-ctr input, .filter-region, .more-details button {
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.151);
}
.inp-ctr input {
   box-sizing: border-box;
   padding-left: 2.6rem;
   border: none;
   height: 2.4rem;
   width: 100%;
}
.inp-ctr input:focus {
   outline: 2px solid var(--clr-detail-text);
}
.inp-ctr i, .filter-region i, .options {
   position: absolute;
}
.inp-ctr i {
   left: 1rem;
   top: 12px;
}
.filter-region {
   height: 2.4rem;
   width: 10rem;
}
.filter-region button {
   box-sizing: border-box;
   border: none;
   width: 100%;
   height: 100%;
   text-align: left;
   padding-left: 12px;
   letter-spacing: 1px;
}
.filter-region button:focus {
   outline: 2px solid var(--clr-elements-and-text);
}
.filter-region i {
   right: 10px;
   top: 13px;
}
.options {
   opacity: 0;
   pointer-events: none;
   box-sizing: border-box;
   top: 2.6rem;
   width: 100%;
   padding: 8px 0;
}
.filter-region option {
   padding: 5px 12px;
}
.filter-region:hover, .filter-region button:hover {
   cursor: pointer;
}
.options-visible {
   opacity: 1;
   pointer-events: initial;
}
.filter-region option:hover {
   background-color: var(--clr-d-mode-background);
   outline: 1px solid var(--clr-elements-and-text);
}
.notification{
   text-align: center;
   color: #fff;
}
.loader {
   border: 4px solid;
   border-top-color: var(--clr-background);
   border-radius: 50%;
   width: 25px;
   height: 25px;
   animation: spin 1.3s linear infinite;
   margin: 3rem auto 2rem;
}
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}
.main-content {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 4vw;
   margin-bottom: 2rem;
}
.card {
   width: 250px;
   border-radius: 5px;
   overflow: hidden;
}
.card:hover {
   cursor: pointer;
   outline: 1px solid var(--clr-elements-and-text);
}
.flag img {
   width: 100%;
   display: block;
}
.details {
   padding: 1.3rem 1.2rem;
}
.details h2 {
   font-size: 1rem;
   font-weight: 600;
}
.general-details {
   margin: 1rem 0;
}
.general-details p {
   font-weight: 600;
   margin-bottom: .4rem;
}
.general-details span, .country-details span {
   margin-left: 4px;
   font-weight: 300;
   color: var(--clr-detail-text);
}
.more-details {
   margin: 3rem 0;
   display: none;
}
.more-details * {
   color: var(--clr-elements-and-text);
}
.more-details button {
   box-sizing: border-box;
   height: 1.9rem;
   background-color: var(--clr-elements);
   border: none;
   font-size: 13px;
   border-radius: 5px;
   transition: 300ms;
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.151);
}
.back button {
   width: 5.5rem;
}
.more-details button:hover {
   cursor: pointer;
   outline: 1px solid var(--clr-elements-and-text);
}
.back {
   margin-bottom: 3rem;
}
.back i{
   margin-right: 8px;
}
.details-ctr {
   justify-content: space-between;
}
.more-details .flag {
   width: 40%;
   min-width: 320px;
}
.country {
   width: 48%;
}
.country-details {
   align-items: flex-start;
   margin: 1.7rem 0 2.5rem;
}
.country-details p {
   font-weight: 600;
   margin-bottom: .5rem;
}
.col-1 {
   width: 35%;
   min-width: 200px;
}
.col-2 {
   max-width: 200px;
}
.borders button {
   padding: 0 8px;
   margin-left: .4rem;
}
@media (max-width: 950px) {
   .country-details {
      flex-direction: column;
      margin: 1rem 0;
   }
   .country {
      width: 43%;
   }
   .col-1 {
      width: 100%;
      margin-bottom: 1rem;
   }
   .country-details p {
      font-size: 14px;
   }
   .borders span {
      display: block;
      margin-bottom: .5rem;
   }
   .borders button:nth-child(2) {
      margin-left: 0;
   }
}
@media (max-width: 720px) {
   .details-ctr {
      flex-direction: column;
      max-width: 350px;
      margin: 0 auto;
   }
   .more-details {
      margin-top: 1rem;
   }
   .more-details .flag {
      min-width: initial;
      width: 100%;
   }
   .country {
      margin-top: 2rem;
      width: 100%;
   }
   .borders {
      text-align: center;
   }
}
@media (max-width: 450px) {
   h1 {
      font-size: 1.1rem;
   }
   header i {
      margin-right: 0;
   }
   header button {
      text-align: right;
      font-size: 13px;
   }
   .main-hdr {
      display: block;
   }
   .inp-ctr {
      width: 100%;
      max-width: 25rem;
   }
   .filter-region {
      margin-top: 2rem;
      width: 60%;
   }
   .borders button {
   }
}